<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles.css">
    <!-- <script type="text/javascript" src="./fetchapi.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.js"></script>

    <title>Mengambil Data JSON dari OMDBAPI</title>
</head>
<body>
    <div id="app">
        <transition name="fade">
            <div class="loader-overlay" v-if="loading">
                <div class="loader"></div>
                <h2>Mengambil data film</h2>
            </div>
        </transition>
        <transition name="slide-fade" appear="appear">
            <div class="movie" id="movie-card" v-if="!loading">
                <movie-data :movie="movie" :error="error"></movie-data>
                <input class="movie__search" id="movie-search" type="text" placeholder="Tulis sebuah judul film"
                    @keyup.enter="searchHandler" />
            </div>
        </transition>
    </div>
    <template id="tpl-movie-data" v-if="!loading">
        <div class="movie__data">
            <div class="movie__poster" v-if="!error"><span class="movie__poster--fill">
                    <transition name="fade"><img :src="movie.Poster" @load="imgLoaded" v-show="showImg" /></transition>
                </span><span class="movie__poster--featured">
                    <transition name="fade"><img :src="movie.Poster" @load="imgLoaded" v-show="showImg" /></transition>
                </span></div>
            <div class="movie__details" v-if="!error">
                <h2 class="movie__title">{{movie.Title}}</h2>
                <ul class="movie__tags list--inline">
                    <li class="movie__rated">{{movie.Rated}}</li>
                    <li class="movie__year">{{movie.Year}}</li>
                    <li class="movie__genre">{{movie.Genre}}</li>
                </ul>
                <p class="movie__plot">{{movie.Plot}}</p>
                <div class="movie__credits">
                    <p><strong>Rating IMDb:</strong> {{movie.imdbRating}}</p>
                    <p><strong>Ditulis oleh:</strong> {{movie.Writer}}</p>
                    <p><strong>Disutradarai oleh:</strong> {{movie.Director}}</p>
                    <p><strong>Pemain:</strong></p>
                    <ul class="movie__actors list--inline">
                        <li v-for="actor in movie.Actors">{{actor}}</li>
                    </ul>
                </div>
            </div>
            <div class="movie__error" v-show="error">
                <h2>{{movie.Error}}</h2>
            </div>
        </div>
    </template>
</body>

<script>
    const key = "2fb7569a"; // daftar dulu biar dapat api key (75db9f6d)
        const defaultTitle = "joker";
        const url = `https://www.omdbapi.com/?apikey=${key}&t=`;

        Vue.component("movie-data", {
            props: ["movie", "error"],
            template: "#tpl-movie-data",

            data: function () {
                return {
                    showImg: false,
                };
            },

            methods: {
                imgLoaded: function () {
                    this.showImg = true;
                },
            },
        });

        var app = new Vue({
            el: "#app",

            data: {
                movie: {},
                loading: true,
                error: false,
            },

            methods: {
                findMovie: function (title) {
                    this.error = false;
                    this.loading = true;

                    fetch(url + title)
                        .then((res) => res.json())
                        .then((data) => {
                            this.movie = data;
                            if (this.movie.Actors) this.movie.Actors = data.Actors.split(", ");
                            if (this.movie.Error) this.error = true;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.error = true;
                            this.loading = false;
                        });
                },

                searchHandler: function (e) {
                    if (e.target.value) {
                        this.findMovie(e.target.value);
                        e.target.blur();
                    }
                },
            },

            mounted() {
                this.findMovie(defaultTitle);
            },
        });

</script>

</html>